* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

:root {
    --navy: #161f46;
    --cream: #fffaed;
    --red: #f4394f;
    --yellow: #f5d329;
    --highlight: #62def7;
}

body{
    display:flex;
    flex-direction: column;
    line-height: 1.3;
    background-color: var(--cream);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: var(--navy);
    color: var(--cream);
    h1 {
        font-size: 200%;
    }
}

nav ul li{
    display: inline-block;
    padding: 15px;
    font-size: 115%;

}

main {
    margin: 5% 10%;
    /*border: 10px var(--red) solid; */
    section {
        padding: 20px;
        border-left: 10px var(--red) solid;
        border-radius: 15px;
        margin-bottom: 10%;
    }
}