* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* yellow will be used in the future */
:root {
    --navy: #0f1534;
    --cream: #fffdf7;
    --red: #f4394f;
    --yellow: #fedb15;
    --highlight: #62def7;
}

body{
    display:flex;
    flex-direction: column;
    line-height: 1.3;
    background-color: var(--cream);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: var(--navy);
    color: var(--cream);
    h1 {
        font-size: 210%;
    }
}

nav ul li {
    display: inline-block;
    padding: 15px;
    font-size: 135%;
    margin: 10px;
    list-style: none;
    a {
        color: var(--cream);
        text-decoration: none;
    }
}

/* CSS for the transition underline in nav */
.underline-hover {
    display: inline-block;
    padding-bottom: 3px;
    position: relative;
}

.underline-hover::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: var(--highlight);
    transition: 0.25s ease-out;
}

.underline-hover:hover::before {
    width: 92%;
    left: 0;
    right: auto;
}


main {
    margin: 5% 10%;
    color: var(--navy);
    display:flex;
    flex-wrap: wrap;
    flex: 4;

    section {
        padding: 20px;
        /* border will be removed once quality images are added */
        border-left: 10px var(--red) solid;
        border-radius: 15px;
        margin-bottom: 10%; 
        line-height: 25px;
    }

    p {
        line-height: 25px;
        margin-bottom: 15px;
    }

    h2 {
        font-size: 160%;
        text-decoration: 3px underline var(--navy);
        padding-bottom: 2%;
    }
}

/* needs a proper-sized image in the future */
#contact-img {
    position:relative;
    height: 200px;
    width: 150px;
    min-width: 150px;
    padding:0;
    border: 3px #f4394f solid;
    margin: 10px;
}

/* will be fixed to format the page better, 
once the neccessary images are added */
.example {
    width: 50%;
    border: 3px #f4394f solid;
    justify-content: left;
    margin: -4px -2px;
    min-width: 20%;
    flex-direction: row;
}

/* for the biggest image */
#main-img {
    flex: wrap;
    flex-wrap: wrap;
    width: 100%;
    min-width: none;
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: var(--navy);
    color: var(--cream);
    h3 {
        font-size: 150%;
    }
}

/* needs a color for already visited link */
/* more functional links to be added in the future */
footer ul li{
    display: inline-block;
    padding: 15px;
    font-size: 115%;
    list-style: none;
    a {
        color: var(--highlight);
    }
}

/* needs to be fiddled with */
@media screen and (max-width: 500px){
    .example {
        width: 10%;
    }
}