* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

:root {
    --navy: #0f1534;
    --cream: #fffdf7;
    --red: #f4394f;
    --yellow: #fedb15;
    --highlight: #62def7;
}

body{
    display:flex;
    flex-direction: column;
    line-height: 1.3;
    background-color: var(--cream);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: var(--navy);
    color: var(--cream);
    h1 {
        font-size: 210%;
    }
}

nav ul li{
    display: inline-block;
    padding: 15px;
    font-size: 135%;
    margin: 10px;
}

.underline-hover {
    display: inline-block;
    padding-bottom: 3px;
    position: relative;
}

.underline-hover::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: var(--highlight);
    transition: 0.25s ease-out;
}

.underline-hover:hover::before {
    width: 92%;
    left: 0;
    right: auto;
}

main {
    margin: 5% 10%;
    /*border: 10px var(--red) solid; */
    color: var(--navy);
    position: relative;

    section {
        padding: 20px;
        border-left: 10px var(--red) solid;
        border-radius: 15px;
        margin-bottom: 10%; 
        line-height: 25px;
    }

    img {
        position:relative;
        /* losing my mind 
        Pick a proper image size next time, bozo. */
        max-width: 150px;
        padding:0;
        border: 3px #f4394f solid;
        margin: 10px;
    }

    p {
        line-height: 25px;
    }

    h2 {
        font-size: 160%;
        text-decoration: 3px underline var(--navy);
        padding-bottom: 2%;
    }
}

#contact-img {
    position:relative;
    height: 200px;
    width: 150px;
    min-width: 150px;
    padding:0;
    border: 3px #f4394f solid;
    margin: 10px;
}

#main-img {

}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: var(--navy);
    color: var(--cream);
    h3 {
        font-size: 150%;
    }
}

footer ul li{
    display: inline-block;
    padding: 15px;
    font-size: 115%;
}
